<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Delete",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>

<%= link_to "edit", edit_article_path(@article) %>
<%= link_to "home", articles_path %>
